

/* メッセージ全般のスタイル */

#header{
    background-color: aqua;
}

.h_h1{
font-size: 32px;
font-weight: bold;
text-align: center;
color:grey;
}



#uname{
    border: 1px solid #ccc;
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2) inset;
    padding: 5px 6px 5px 6px;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 5px;
}

#text{
    width: calc(100% - 75px);
    line-height: 16px;
    height: 48px;
    padding: 14px 6px 0px 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: left;
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2) inset;
    box-sizing: border-box;
}

.te{
    max-width:500px; /*最大幅は任意*/
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 17px 13px 15px 18px;
    border-radius: 12px;
    background: #99dddd;/*色は任意*/
    box-sizing:border-box;
    margin:0 !important;
    line-height:1.5;
    word-wrap: break-word; /* 吹き出し内で自動改行*/
    white-space: normal; /* 指定widthに合わせて文字を自動的に改行*/
}


#drowarea{
    border: 1px solid #ccc;
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2) inset;
    border-radius: 4px;
}

#clear_btn:hover{
    background: #06dbf7;
    cursor: pointer;
    transform: scale(1.1,1.1);
    transition: 0.2s all;
}

#send_btn {
    width: 72px;
    height: 48px;
    font-size: 16px;
    line-height: 3em;
    float: right;
    color: #fff;
    font-weight: bold;
    background: #bcbcbc;
    text-align: center;
    border:1px solid #bbb;
    border-radius: 4px;
    box-sizing: border-box;
}

#clear_btn , #save_btn{
    width: 72px;
    height: 48px;
    font-size: 16px;
    line-height: 3em;
    float: right;
    color: #fff;
    font-weight: bold;
    background: #bcbcbc;
    text-align: center;
    border:1px solid #bbb;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 20px;
}

#save_btn:hover{
    background: #06f79b;
    cursor: pointer;
    transform: scale(1.1,1.1);
    transition: 0.2s all;
}

#send_btn:hover{
    background: #66f706;
    cursor: pointer;
    transform: scale(1.1,1.1);
    transition: 0.2s all;
}

.pic{
    display: flex;
}
.can_p,.i_p{
    font-weight: bold;
}

.ti{
    font-size: 14px;
    margin-top: auto;
}
